
/**********************************
GENERAL
***********************************/
body {
  font-family: 'Raleway', sans-serif;
  background: #ffa949 url('../img/sicilian-sunset.jpg') no-repeat center / cover;
}
#wrapper {
  max-width: 96%;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}
.searching, .locations {
  display: none;
}

/**********************************
HEADING
***********************************/

header {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-around;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: 0;
  font-weight: normal;
}
h3{
  display: none;
}
/**********************************
NAVIGATION
***********************************/
nav { /**/
  display: flex;
  flex-grow: 1;
  align-self: stretch;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: Column;
  flex-grow: 1;
  justify-content: space-around;
}
nav li {
  display: flex;
  align-self: stretch;
  justify-content: center;
}
nav a {
  font-weight: 800;
  display: block;
}

/**********************************
FOOTER
***********************************/
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #CCC;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/**********************************
All Sections of Path
***********************************/
.path {
  margin: 1em;
  padding: 0;
}  
/**********************************
DIV: TAKE ACTION aka start
***********************************/


.start{
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 140px;
}
.start h2, h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
}
.start p {
  font-size: 1em;
  font-weight: bold;
}
.start_section {
  display: none;
}

#start_selection {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
}
.start_button {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 150px;
  height: 86px;
  
}
#search_button {
  min-width: 80px;
  width: 30%;
  margin: 5px 35%;
}


/**********************************
DIV: Searching
***********************************/


/**********************************
PAGE: Results/Locations
***********************************/

#gmap_canvas {
  height:400px;
  width:420px;
}
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/**********************************
COLORS
***********************************/
/* site body */
body {
  background-color: #FFF;
  color: #999;
}

header {  
  border-color: rgba(255, 209, 127, 1); /*Setting the header's border to a sand color to match sunset */
}

h1, h2 { /* logo text */
  color: #FFF;
}
a { /* links */
  color: #FFF;
}

nav a.selected, nav a:hover { /* selected or hovered navigation link */
  color: rgba(255, 209, 127, 1);
}
#zip_code_search{ /*colors for the search box*/
  background: rgba(61, 57, 62, .6); /*dark background for button*/
  color: rgba(237, 239, 240, 1); /**/
  border-style: ridge;
  border-color: rgb(61, 57, 62);
}
.button {
  background: rgba(61, 57, 62, .4); /*Dark background for button*/
  color: white;
  border: none;
}
.button:hover {
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 1);/*highlights button when hovered over*/ 
}
